.Cart {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100vw;
    min-height: 800px;
    /* white-space: pre; */
    padding-bottom: 200px;
}

.cart-header {
    flex: 0 1 50%;
    max-width: 100%;
    min-height: 100%;
    padding: 0 2rem;
}

.cart-right {
    flex: 0 1 50%;
    max-width: 50%;
    min-height: 100%;
    padding: 0 2rem;
}

.TotalBar {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    max-width: 1280px;
    margin: 0 auto;
  }