.Register {
    width: 300px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid black;
    padding: 20px;
  }
  
  .Register > h1 {
    font-weight: 500;
    margin-bottom: 20px;
  }
  
  .Register > form > h5{
    margin-bottom: 5px;
  }
  
  .Register > form > input{
    height: 30px;
    margin-bottom: 10px;
    background-color: white;
    width: 98%;
  }
  
  .Register_Button {
    background: #167bff;
    border-radius: 2px;
    width: 100%;
    height: 30px;
    border: 1px solid;
    margin-top: 10px;
  }
  
  .Register > p{
    margin-top: 15px;
    font-size: 12px;
  }  