.Search{

    border-radius: 25px;
    background: #949596;
    height:20px;
    width:240px;
    padding:10px;
    



}
.Label{
    /* width :50px; */
    border-radius: 2px;
    background: #feffff;
    
}