.App {
  background-color: 'white';
  width: 100vw;
  height: 100vh;
  position: relative;
}

.NavBar {
  height: 64px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  max-width: 1280px;
  margin: 0 auto;
}

.Cart-Page {
  width: 100vw;
  height: 100vh;
}