.App {
 
  width: 100vw;
  height: 100vh;
  position: relative;
  background: #feffff; 
  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  

}
/* background: url(assets/bike.jpg) no-repeat center center fixed; */

/*.Cart-Page {
  width: 100vw;
  height: 100vh;
}*/